<section ng-controller="AddPersonCtrl as addPersonCtrl">
    <div ng-class="{'modal-header' : addPersonCtrl.isModal}">
        <h4 ng-class="{'modal-title' : addPersonCtrl.isModal}">Add a Person</h4>
    </div>
    <div ng-class="{'modal-body' : addPersonCtrl.isModal}">
        <form name="addPersonForm" novalidate>
            <div ng-show="addPersonCtrl.formSuccess" class="bg-success pad-all mgn-t-b">{{addPersonCtrl.formSuccess}}</div>
            <div ng-show="addPersonCtrl.formGeneralError" class="bg-danger pad-all mgn-t-b">{{addPersonCtrl.formGeneralError}}</div>
            <fieldset class="form-group" ng-class="{'has-error' : addPersonCtrl.formErrors.person}">
                <label class="control-label" for="person">Person</label>
                <input type="text" class="form-control" id="person" name="person"
                       ng-model="addPersonCtrl.person" autocomplete="off"
                       ng-click="addPersonCtrl.clearFormError('person')" required auto-focus>
                <div class="bg-danger field-error" ng-show="addPersonCtrl.formErrors.person">{{addPersonCtrl.formErrors.person.message}}</div>
            </fieldset>
        </form>
    </div>
    <div ng-class="{'modal-footer' : addPersonCtrl.isModal}">
        <button ng-click="addPersonCtrl.savePerson(addPersonCtrl.person)" class="btn btn-primary">Add</button>
        <div class="mgn-t">
            Form output: {{addPersonCtrl.tag}}
        </div>
    </div>
</section>
