<section ng-controller="ViewCharacterCtrl as viewCharacterCtrl">
    <div>
        <h3>{{viewCharacterCtrl.selectedCharacter.name}}</h3>
    </div>
    <div class="mgn-t clearfix">
        <div class="fl-l">
          <div><label class="character-label">Name:</label> {{viewCharacterCtrl.selectedCharacter.name}}</div>
          <div><label class="character-label">Player:</label> {{viewCharacterCtrl.selectedCharacter.player}}</div>
          <div><label class="character-label">Sex:</label> {{viewCharacterCtrl.selectedCharacter.sex}}</div>
          <div><label class="character-label">Race:</label> {{viewCharacterCtrl.selectedCharacter.race}}</div>
          <div><label class="character-label">Class:</label> {{viewCharacterCtrl.selectedCharacter.class}}</div>
          <div><label class="character-label">Level:</label> {{viewCharacterCtrl.selectedCharacter.level}}</div>
          <div><label class="character-label">Alignment:</label> {{viewCharacterCtrl.selectedCharacter.alignment}}</div>
          <div><label class="character-label">Age:</label> {{viewCharacterCtrl.selectedCharacter.age}}</div>
          <div><label class="character-label">Height:</label> {{viewCharacterCtrl.selectedCharacter.height}}</div>
          <div><label class="character-label">Weight:</label> {{viewCharacterCtrl.selectedCharacter.weight}}</div>
        </div>
		
		<table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Ability</th>
                <th>Score</th>
                <th>Modifier</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="ability in viewCharacterCtrl.selectedCharacter.abilities">
                <td>{{ability.name}}</td>
                <td>{{ability.score}}</td>
                <td>{{ability.modifier}}</td>
            </tr>
            </tbody>
        </table>

        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Skill Name</th>
                <th>Total</th>
                <th>Ability</th>
                <th>Ranks</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="skill in viewCharacterCtrl.selectedCharacter.skills">
                <td>{{skill.name}}</td>
                <td>{{skill.total}}</td>
                <td>{{skill.ability}}({{viewCharacterCtrl.selectedCharacter.abilities.modifier | formatArray | filter: skill.ability}})</td>
                <td>{{skill.ranks || "-"}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
</section>
