<section ng-controller="AddProjectCtrl as addProjectCtrl">
    <h4>Add a Project</h4>

    <form  name="addProjectForm" novalidate>
        <small>&ast;All fields required.</small>
        <div ng-show="addProjectCtrl.formSuccess" class="bg-success pad-all mgn-t-b">{{addProjectCtrl.formSuccess}}</div>
        <div ng-show="addProjectCtrl.formGeneralError" class="bg-danger pad-all mgn-t-b">{{addProjectCtrl.formGeneralError}}</div>
        <fieldset class="form-group mgn-t" ng-class="{'has-error' : addProjectCtrl.formErrors.projectName}">
            <label class="control-label" for="projectName">Project Name</label>
            <input type="text" class="form-control" id="projectName" name="projectName"
                   ng-model="addProjectCtrl.project.name" autocomplete="off"
                   ng-click="addProjectCtrl.clearFormError('projectName')" required auto-focus>
            <div class="bg-danger field-error" ng-show="addProjectCtrl.formErrors.projectName">{{addProjectCtrl.formErrors.projectName.message}}</div>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' : addProjectCtrl.formErrors.projectTags}">
            <label class="control-label" for="addTag">Tags</label> <span class="italic small">Can't find your tag?  <a ng-click="addProjectCtrl.openAddTag()" class="curs-pointer">Add one here.</a></span>
            <input type="text" ng-model="addProjectCtrl.selectedTag" id="addTag" name="addTag" autocomplete="off"
                   typeahead="tag for tag in addProjectCtrl.someTags | filter:$viewValue | limitTo:8" class="form-control"
                   typeahead-on-select="addProjectCtrl.addTagToProject($item)" ng-click="addProjectCtrl.clearFormError('projectTags')"
                   placeholder="Type to add a tag..." typeahead-editable="true">
            <div class="bg-danger field-error" ng-show="addProjectCtrl.formErrors.projectTags">{{addProjectCtrl.formErrors.projectTags.message}}</div>
            <ul id="projectTags" name="projectTags" class="list-inline mgn-t" ng-show="addProjectCtrl.project.tags.length > 0" required>
                <li ng-repeat="selectedTag in addProjectCtrl.project.tags">
                    <span ng-class-odd="'odd-pill'" class="selected-pill">
                        <a ng-click="addProjectCtrl.removeTagFromProject(selectedTag)" class="remove-selected-pill">&times;</a> {{selectedTag}}</span>
                </li>
            </ul>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' : addProjectCtrl.formErrors.projectTeam}">
            <label class="control-label" for="addPerson">People</label> <span class="italic small">Can't find a person?  <a ng-click="addProjectCtrl.openAddPerson()" class="curs-pointer">Add one here.</a></span>
            <input type="text" ng-model="addProjectCtrl.selectedPerson" id="addPerson" name="addPerson" autocomplete="off"
                   typeahead="person for person in addProjectCtrl.somePeople | filter:$viewValue | limitTo:8" class="form-control"
                   typeahead-on-select="addProjectCtrl.addPersonToProject($item)" ng-click="addProjectCtrl.clearFormError('projectTeam')"
                   placeholder="Type to add a person..." typeahead-editable="true">
            <div class="bg-danger field-error" ng-show="addProjectCtrl.formErrors.projectTeam">{{addProjectCtrl.formErrors.projectTeam.message}}</div>
            <ul id="projectTeam" name="projectTeam" class="list-inline mgn-t" ng-show="addProjectCtrl.project.team.length > 0" required>
                <li ng-repeat="teamMember in addProjectCtrl.project.team">
                    <span ng-class-odd="'odd-pill'" class="selected-pill">
                        <a ng-click="addProjectCtrl.removePersonFromProject(teamMember)" class="remove-selected-pill">&times;</a> {{teamMember}}</span>
                </li>
            </ul>
        </fieldset>
        <fieldset class="form-group" ng-class="{'has-error' : addProjectCtrl.formErrors.projectDescription}">
            <label class="control-label" for="projectDescription">Description</label>
            <textarea id="projectDescription" name="projectDescription" autocomplete="off"
                      ng-model="addProjectCtrl.project.description" class="form-control"
                      ng-click="addProjectCtrl.clearFormError('projectDescription')" required></textarea>
            <div class="bg-danger field-error" ng-show="addProjectCtrl.formErrors.projectDescription">{{addProjectCtrl.formErrors.projectDescription.message}}</div>
        </fieldset>
        <div class="mgn-t">
            <button ng-click="addProjectCtrl.saveProject(addProjectCtrl.project)" class="btn btn-primary">Add</button>
        </div>
    </form>
    <div class="mgn-t">
        Form output: {{addProjectCtrl.project}}
    </div>
</section>
